section:nth-child(even) {
  background: #eee;
}

#cover > h1:first-child {
  padding: 0 0.25em 0.5em 0.25em
}

#cover img {
  display: block;
  max-width: 500px;
  width: 100%;
}

#storylist {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 1000px;
}

.storybox {
    width: 300px;
    height: 400px;
    margin: 0px 5px 20px 5px;
    border: 3px dotted black;
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.storybox img {
  height: 225px;
  width: 225px;
  margin: 0px 37.5px;
}

.storybox img.moving {
  display: none;
}

.storybox:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.storybox:hover img.static {
    display: none;
}

.storybox:hover img.moving {
    display: block;
}

.storybox p {
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    padding: 10px 0px;
    margin: 0px 20px;
    font-style: italic;
    border-top: 1px solid black;
}

#extras {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.extra {
  border: 1px solid black;
  width: 225px;
  height: 175px;
  margin: 0px 10px 20px 10px;
  text-align: center;
  padding: 5px;
}

.extra h3 {
    width: fit-content;
    background-color: #eee;
    text-align: center;
    margin: auto;
    margin-bottom: 20.5px;
    margin-top: -16px;
    padding: 0px 20px;
}

.extra a {
  text-decoration: underline;
  cursor: pointer;
}

.extra p {
  margin-top: 4px;
  font-style: italic;
  font-size: 12px;
  line-height:1.25em;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) {

  .storybox img.static {
    display: none;
  }

  .storybox img.moving {
    display: block;
  }

}
