#cover img {
  display: block;
  max-width: 500px;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav .back::before {
  content: "&#8249;";
}

.nav .next::after {
  content: "&#8250;";
}

.story h3 {
  margin-bottom: 1em;
}
