#cover img {
  display: block;
  max-width: 450px;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:60px;
}

.nav .back::before {
  content: "\2039";
  font-size: 40px;
  line-height:60px;
  float:left;
}

.nav .next::after {
  content: "\203A";
  float:right;
  font-size: 40px;
  line-height: 60px;
}

#story h3 {
  margin-bottom: 1em;
}
