body {
  font-family: 'Open Sans', sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

h1 {
  font-size: 60px;
  letter-spacing: 8px;
}

section:nth-child(even) {
  background: gray;
}
